/* change the colors */
$blue: rgb(0, 122, 255);
$indigo: #6610f2 !default;
$purple: rgb(175, 82, 222);
$pink: #e83e8c !default;
$red: rgb(255, 59, 48);
$orange: rgb(255, 149, 0);
$yellow: rgb(255, 204, 0);
$green: rgb(52, 199, 89);
$teal: #20c997 !default;
$cyan: rgb(90, 200, 250);

$warning: $orange;

$font-family-base: -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-monospace: -apple-system, BlinkMacSystemFont, monospace;

@import "~bootstrap/scss/bootstrap.scss";

.display-4 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: $orange;
}

.display-5 {
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 1.2;
  color: $black;
}

.footer-icons {
  color: rgba(60, 60, 67, 0.6);
}

.footer-icons:hover {
  color: $orange;
}

.footer-link {
  color: rgba(60, 60, 67, 0.6);
}

.get-add-btn{
  background-color: $orange;
  color: white;
}

.get-add-btn:hover{
  color: white;
}